/*******************
HEADER IMAGE-SECTION
********************/

/*posioned relative in html-file, with bootstrap*/
.banner {
  height: 48rem;
  margin-bottom: 4.5rem;

  /*pseudo-element that gets position absolute to cover entire
  parent-element and on top*/
  &::after {
    position: absolute;
    content: ""; /*setting content of element to empty string to make it appear*/
    height: 100%;
    width: 100%;
    background-color: var(--mask-black-1);
  }

  img {
    object-fit: cover; /*to make image fill entire container*/
    object-position: bottom; /*to make the bottom of the image on display*/
  }

  h1 {
    font-size: 3.5rem;
  }

  .banner-content {
    z-index: 1; /*so it appears after the pseudo-element*/
  }
}

/*******************
ANIMATION FOR BANNER
********************/
@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in {
  animation: 2s ease-out 0s 1 slideFromTop;
}