@charset "UTF-8";
body {
  background-color: rgb(9, 3, 36);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

hr {
  color: white;
  height: 3px;
}

.h3-heading {
  color: rgba(14, 221, 152, 0.79);
}

p {
  color: #8892b0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  font-family: "Inter", sans-serif;
}

/*FÖR NAVIGERINGSBAREN*/
nav {
  font-family: "Fira Code", monospace;
}

.logo {
  max-width: 160px;
}

.navbar-toggler {
  background-color: rgb(9, 3, 36) !important;
  color: white;
  border: 1px solid white;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler:active {
  border: 2px solid rgb(14, 221, 152) !important;
  color: rgb(14, 221, 152) !important;
}

.navbar-toggler:hover {
  border: 1.5px solid white;
}

.nav-link {
  color: white;
}

.navbar-toggler:hover .menu-toggler,
.nav-link:hover,
.active:hover,
.show:hover {
  color: rgb(138, 7, 209) !important;
  transition: 0.3s ease-in-out;
}

.active {
  color: rgb(14, 221, 152) !important;
  transition: ease-in-out 0.3s;
}

.show {
  color: rgb(138, 7, 209) !important;
}

/*FOR THE LITTLE DROP DOWN IN DROP DOWN*/
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  text-align: center;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(138, 7, 209);
  transition: 0.3s ease-in-out;
}

/*SOCIAL MEDIA CONTAINER*/
.bi-chat-right-text {
  color: rgb(14, 221, 152);
}

.fa-brands {
  color: rgb(255, 255, 255);
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.list-group-item {
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
}

.list-group-item:hover .fa-brands {
  color: rgb(138, 7, 209);
  transition: 0.3s ease-in-out;
}

/***********************
*******HOME PAGE********
***********************
***********************/
.hero {
  margin-top: 5rem;
}

.name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.frontend {
  color: #8892b0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.subtext {
  color: rgb(14, 221, 152);
  margin: auto 1rem auto 1rem;
  font-family: "Fira Code", monospace;
  font-size: 0.8rem;
}

/*FRONT PAGE LINK CONTAINER*/
.front-link {
  background-color: rgba(122, 5, 248, 0.957);
  border-radius: 7px;
  padding: 1rem;
  border: 1px solid rgba(112, 40, 219, 0.802);
  box-shadow: rgba(63, 3, 101, 0.174) 0px 3px 8px;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  margin: auto;
  max-width: 15rem;
  background-color: transparent;
  border: 1px solid rgb(14, 221, 152);
}

.front-link:hover {
  background-color: rgba(7, 237, 160, 0.133);
  transition: 0.3s ease-in-out;
}

.link-container {
  margin-top: 10rem;
}

.link {
  color: rgb(14, 221, 152);
  font-size: 14px;
  padding: 1rem 1.7rem;
}

/*************
****FOOTER****
**************/
footer .fa-brands,
footer .footer-heading {
  color: #8892b0;
  font-size: 20px;
}

footer {
  margin-top: 12rem !important;
}

.copy {
  font-family: "Fira Code", monospace;
  color: #8892b0;
  font-size: 11px;
}

/**************
ABOUT PAGE*****
***************/
.article {
  margin-bottom: 6rem;
}

.hero-text {
  margin-right: 5rem;
}

/*******************************************
********BILD OCH BORDER, SAMT HOVER*********
********************************************/
.img-container {
  display: inline-block;
  width: 75%;
  position: relative; /* Set the container to be a positioning context */
  margin-top: 4rem;
}

.big-about-img {
  display: block;
  background-image: url("https://raw.githubusercontent.com/sararuda100/portfolio/main/docs/images/IMG_5407.JPG");
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 99.25%; /* 16:9 aspect ratio */
  border-radius: 7px;
  transition: background-image 0.3s ease-in-out;
  position: relative; /* Set to relative to position the .image-wrapper */
}

.img-container:hover .big-about-img {
  background-image: url("https://github.com/sararuda100/portfolio/blob/main/docs/images/IMG_5408.JPG?raw=true");
}

.image-wrapper {
  position: absolute;
  top: 25px;
  left: 25px;
  right: -25px;
  bottom: -25px;
  border: 2px solid rgb(14, 221, 152);
  border-radius: 7px;
  pointer-events: none; /* Ensures the wrapper doesn't interfere with mouse events */
  transition: border 0.3s ease-in-out;
  z-index: -1;
}

.img-container:hover .image-wrapper {
  top: 20px;
  left: 20px;
  right: -20px;
  bottom: -20px;
}

/*******PART DESIGNER PART CODER LIST ITEMS
*******************************************/
.designer {
  margin-bottom: 4rem;
}
.designer .list-unstyled .list-item {
  color: #8892b0;
}

.coder {
  margin-bottom: 4rem;
}
.coder .list-unstyled .list-item {
  color: #8892b0;
}

/***********************
**********SAY HELLO*****
************************/
.contact-button {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 6rem;
  border: 1px dotted rgb(14, 221, 152);
  border-radius: 40px;
  color: rgb(14, 221, 152);
  padding: 0.5rem 1rem;
  font-family: "Oxygen Mono", monospace;
}

.contact-button:hover {
  background-color: rgba(7, 237, 160, 0.133);
  transition: 0.3s ease-in-out;
}

.contact-list .fa-brands {
  color: grey !important;
  font-size: 24px;
}

.contact-list .fa-brands:hover {
  color: rgb(138, 7, 209) !important;
}

.sub-heading {
  font-size: 24px;
  color: #ccd6f6;
}

/**
*
* FOR RANDOM FACTS
*
*****/
.random-fact-list {
  color: #8892b0;
}

.hover-2 {
  --c: #21e28e; /* the color */
  --b: .1em; /* border length*/
  --d: 20px; /* the cube depth */
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid rgba(0, 0, 0, 0);
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(at left var(--d) bottom var(--d), rgba(0, 0, 0, 0) 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box, conic-gradient(at left var(--_s) bottom var(--_s), rgba(0, 0, 0, 0) 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
  opacity: 0.3;
  transition: 0.5s;
}

.hover-3 {
  transform: translate(0, 0);
  clip-path: polygon(0% var(--d), var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), calc(100% - var(--d)) 100%, 0% 100%);
  opacity: 1;
}

.opac {
  opacity: 0.3;
}

/***********************
********** PROJECTSS *****
************************/
.project-margin {
  margin-bottom: 2rem !important;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 1rem;
}

.card-link {
  height: auto;
  width: 300px;
  text-decoration: none;
  position: relative; /* Needed for absolute positioning of overlay and text */
  overflow: hidden; /* Prevents child elements from overflowing */
  margin-bottom: 1rem;
}

.card-overlay {
  background-color: rgb(68, 3, 147);
  z-index: 4;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card {
  background-color: transparent;
  position: relative; /* Needed for z-index to work properly */
}
.card img {
  box-shadow: 0px 10px 15px 0px rgba(152, 7, 225, 0.896);
  height: auto;
}

.card:hover .card-overlay {
  opacity: 0.8;
}

.kort-titel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: none;
  color: white;
  font-family: "Fira Code", monospace;
}

.card:hover .kort-titel {
  display: flex !important;
  display: block;
}

/*******
*
*   MEDIA QUERIES
*
*
******/
@media (min-width: 576px) {
  .name {
    font-size: 4rem;
  }
  .frontend {
    font-size: 2rem;
  }
  .subtext {
    font-size: 1.2rem;
  }
  .front-link {
    margin: 1rem;
  }
  .link {
    padding: 1.5rem 2rem;
  }
  .contact-list .social-list {
    margin-top: -0.5rem;
  }
  .section {
    padding: 1.5rem;
    max-width: 900px;
    margin: auto;
    margin-bottom: 4rem;
  }
  .img-container {
    margin-top: 6rem;
  }
  .card img {
    height: 300px;
    width: auto;
    object-fit: cover !important;
  }
}
@media (min-width: 768px) {
  .link {
    padding: 1.5rem 3rem;
  }
  .article {
    max-width: 900px;
    margin-top: 4rem;
    margin-bottom: 10rem !important;
  }
  .project-margin {
    margin-bottom: 3rem !important;
  }
}
@media (min-width: 992px) {
  .name {
    font-size: 6rem;
  }
  .hero {
    margin-top: 10rem;
  }
}

/*# sourceMappingURL=main.css.map */
