footer h5, h4 {
  color: var(--color-light-gray);
}

footer{
  margin-top: 6rem;
}

.copywrite p, a {
  color: var(--color-dark-gray);
  font-size: 12px;
}

.footer-text {
  color: var(--color-gray) !important;
}
