@media only screen and (min-width: 576px) {
  .img-big {
    max-width: 40%;
  }
  .our-team {
    width: 100% !important;
  }

  .navbar {
    padding: 1rem !important;
  }

  .custom-text-align{
    text-align: left !important;
    justify-content: left !important;
  }

  .section{
    margin-top: 6rem !important;
  }

  .custom-block {
    padding: 1.5rem !important;
  }

  .media-items {
    margin-left: -7px; /*to compensate for the padding on the items*/
  }

}

@media only screen and (min-width: 768px){
  .section{
    margin-top: 8rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .section{
    max-width: 60em !important;
  }
}
