:root {
  --font-primary: "Raleway", sans-serif;
  --color-primary: #02040f;
  --color-secondary: #ff6f00;
  --color-btn: rgb(255, 140, 0);
  --color-icon: #c6c4c4;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #646464;
  --color-light-gray: #a9a9a9;
  --color-dark-gray: #414140;
  --color-block:  rgb(28, 28, 28);
  --mask-black-1: rgba(12, 5, 1, 0.55);
  --mask-black-2: rgba(28, 28, 28, 0.55);
}
