// $primary: linear-gradient(90deg, rgba(1,1,34,1) 0%, rgba(13,3,55,1) 60%, rgba(25,3,65,1) 100%);
$primary: rgb(9, 3, 36);
$primary-light: rgb(236, 178, 246);
$secondary: rgb(14, 221, 152);
$secondary-hover: rgba(7, 237, 160, 0.133);
$light-grey: #ccd6f6;
$grey: #8892b0;
$hover: rgb(138, 7, 209);
$transparant: rgba(0, 0, 0, 0);

$primary-font: studiofeixen-variable, studiofeixen, Arial, Helvetica, sans-serif;
$p-font: 'Inter', sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

body{
background-color: $primary;
margin: 0;
padding: 0;
// background: linear-gradient(90deg, rgba(1,1,34,1) 0%, rgba(13,3,55,1) 60%, rgba(25,3,65,1) 100%);

}

*{
    box-sizing: border-box;
}

main .container-fluid{
    margin-top: 5rem;
}

/*FÖR NAVIGERINGSBAREN*/

nav{
    font-family: 'Fira Code', monospace;
}

.logo{
    max-width: 160px;
}

.navbar-toggler{
    background-color: $primary !important;
    color: white;
    border: 1px solid white;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-toggler:active{
    border: 2px solid $secondary !important;
    color: $secondary !important;
}

.navbar-toggler:hover{
     border: 1.5px solid white;
}


.nav-link{
    color: white;
}


.navbar-toggler:hover .menu-toggler,
.nav-link:hover, 
.active:hover,
.show:hover{
    color: $hover !important;
    transition: 0.3s ease-in-out;
}

.active{
    color: $secondary !important;
    transition: ease-in-out 0.3s;
}

.show{
    color: $hover !important;
}

/*FOR THE LITTLE DROP DOWN IN DROP DOWN*/
.dropdown-menu{
    background-color: $transparant;
    justify-content: center;
    text-align: center;
}

.dropdown-item{
    color: white;

}

.dropdown-item:hover{
    background-color: $transparant;
    color: $hover;
    transition: 0.3s ease-in-out;
}

/*SOCIAL MEDIA CONTAINER*/
.bi-chat-right-text{
    color: $secondary;
}

.fa-brands{
    color: rgb(255, 255, 255);
}

.social-list{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.list-group-item{
    background: $transparant;
    font-size: 30px;
}

.list-group-item:hover .fa-brands{
    color: $hover;
    transition: 0.3s ease-in-out;
}


/*HERO CONTAINER*/

/*HERO BILD*/
.hero{
    margin-top: 2.5rem;
}

.name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.frontend{
    color: $grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}


.subtext{
    color: $secondary;
    margin: auto 1rem auto 1rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
}

/*FRONT PAGE LINK CONTAINER*/
.front-link{
    background-color:rgba(122, 5, 248, 0.957);
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid rgba(112, 40, 219, 0.802);
    box-shadow: rgba(63, 3, 101, 0.174) 0px 3px 8px;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    margin: auto;
    max-width: 15rem;
    background-color: transparent;
    border: 1px solid $secondary;
}

.front-link:hover{
    background-color: $secondary-hover;
    transition: 0.3s ease-in-out;
}

.link-container{
    margin-top: 10rem;
}

.link{
    color: $secondary;
    font-size: 14px;
    padding: 1rem 1.7rem;
}


/*************
****FOOTER****
**************/
footer .fa-brands,
footer .footer-heading{
    color: $grey;
    font-size: 20px;
}

footer{
    margin-top: 12rem !important;
}

.copy{
    font-family: 'Fira Code', monospace;
    color: $grey;
    font-size: 11px;
}

/*******
*
*   MEDIA QUERIES
*
*
******/

@media (min-width: 576px){
    .name{
        font-size: 4rem;
    }

    .frontend{
        font-size: 2rem;
    }

    .subtext{
    font-size: 1.2rem;
}

    .front-link{
        margin: 1rem;
    }

    .link{
        padding: 1.5rem 2rem;
    }

    .contact-list .social-list{
        margin-top: -0.5rem;
    }
}

@media (min-width: 768px){
    .link{
        padding: 1.5rem 3rem;
    }
}

@media (min-width: 992px){

     .name{
        font-size: 6rem;
    }

    .hero{
        margin-top: 10rem;
    }

}


/**************
ABOUT PAGE*****
***************/
hr{
    color: white;
    height: 3px;
}

p{
    color: $grey;
    font-family: $secondary-font;
    font-size: 1em;
    font-family: $p-font;
}

.contact-button input{
    background-color: $transparant;
    margin-top: 6rem;
    border: 1px dotted $secondary;
    border-radius: 40px;
    color: $secondary;
    padding: 0.5rem 1rem;
    font-family: 'Oxygen Mono', monospace;
}

.contact-button input:hover{
    background-color: $secondary-hover;
    transition: 0.3s ease-in-out;
}

.contact-list .fa-brands{
    color: grey !important;
    font-size: 24px;
}

.contact-list .fa-brands:hover{
    color: $hover !important;
}

.mini-about-img{
    margin: 0.2rem;
    box-shadow: rgba(205, 202, 202, 0.12) 0px 1px 3px, rgba(251, 249, 249, 0.24) 0px 1px 2px;
    border-radius: 4px;
    max-width: 180px;
}

.sub-heading{
    font-size: 24px;
    color: $light-grey;
}

.hidden-img{
    display: none;
}

.random-fact-list{
    color: $grey;
}

/****THE IMAGE Of ME, AND HOVER****/
.img-container {
    display: inline-block;
    width: 75%;
    overflow: hidden;
}

.big-about-img {
    display: block;
    content: url('/docs/images/IMG_5407.JPG');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: content 0.3s ease-in-out;
}

.img-container:hover .big-about-img {
    content: url('/docs/images/IMG_5408.JPG');
}

.image-wrapper::after{
    content: "";
    border: 8px solid orange;
    z-index: 1;
    background-color: green;
    height: 200px;
    width: 300px;
}

.image-wrapper {
    position: absolute;
    top: 20px; /* Adjust the offset from the top */
    left: 20px; /* Adjust the offset from the left */
    right: 20px; /* Adjust the offset from the right */
    bottom: 20px; /* Adjust the offset from the bottom */
    border: 8px solid orange;
    z-index: 1;
    pointer-events: none; /* Ensures the wrapper doesn't interfere with mouse events */
    transition: border 0.3s ease-in-out;
}