// $primary: rgb(9, 3, 36) !default;
// $primary-light: rgb(236, 178, 246) !default;
// $secondary: rgb(14, 221, 152) !default;
// $secondary-hover: rgba(7, 237, 160, 0.133) !default;
// $light-grey: #ccd6f6 !default;
// $grey: #8892b0 !default;
// $hover: rgb(138, 7, 209) !default;
// $purple: rgb(98, 7, 209) !default;
// $transparant: rgba(0, 0, 0, 0) !default;


$primary-font: studiofeixen-variable, studiofeixen, Arial, Helvetica, sans-serif;
$p-font: 'Inter', sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

:root {
  --primary: rgb(9, 3, 36);
  --primary-light: rgb(236, 178, 246);
  --secondary: rgb(14, 221, 152);
  --secondary-hover: rgba(7, 237, 160, 0.133);
  --light-grey: #ccd6f6;
  --grey: #636b81;
  --hover: rgb(138, 7, 209);
  --purple: rgb(98, 7, 209);
  --transparent: rgba(0, 0, 0, 0);
  --white: white;
  --icons: linear-gradient(210deg, #8931e1, #aa76ef, #5af5c4);  /* Light mode gradient */
  /* For animations and effects */
  --cube-color: #21e28e;
  --border-length: .1em;
  --cube-depth: 20px;
  --hover-color-light: rgb(255 255 255 / 0.3);
  --hover-color-dark: rgb(255 255 255 / 0.6);
  --card-overlay: rgb(68, 3, 147);
  --single-view-background: rgba(0, 0, 0, 0.843);
}

body.light-mode {
  --primary: linear-gradient(210deg, #e4f8f7, #f7e4f8, #c7fceb); /* Inverted for dark mode */
  --primary-light: rgb(9, 3, 36);
  --secondary: rgb(98, 7, 209);
  --secondary-hover: rgba(138, 7, 209, 0.306);
  --light-grey: rgb(65, 71, 69);
  --grey: #404145;
  --hover: rgb(7, 237, 160);
  --purple: rgb(14, 221, 152);
  --transparent: rgba(0, 0, 0, 0);
  --white: rgb(18, 9, 58);
  --icons: linear-gradient(210deg, #f786f5, #aa76ef, #5af5c4); /* Solid white for dark mode */
  --card-overlay: rgb(135, 63, 222);

  /* For animations */
  --cube-color: rgb(98, 7, 209);
  --hover-color-light: rgb(9, 3, 36 / 0.3);
  --hover-color-dark: rgb(9, 3, 36 / 0.6);
  --single-view-background: rgba(186, 189, 205, 0.895);
}

body.theme-init {
    visibility: hidden; /* Hide content during theme initialization */
}

body{
background-color: var(--primary);
background: var(--primary);
margin: 0;
padding: 0;
// background: linear-gradient(90deg, rgba(1,1,34,1) 0%, rgba(13,3,55,1) 60%, rgba(25,3,65,1) 100%);

}

// body.dark-mode {
//   $primary: rgb(236, 178, 246) !default;
//   $primary-light: rgb(9, 3, 36) !default;
//   $secondary: rgb(98, 7, 209) !default;
//   $secondary-hover: rgba(138, 7, 209, 0.133) !default;
//   $light-grey: rgb(14, 221, 152) !default;
//   $grey: #ccd6f6 !default;
//   $hover: rgb(7, 237, 160) !default;
//   $purple: rgb(14, 221, 152) !default;
//   $transparant: rgba(0, 0, 0, 0) !default;
// }


*{
    box-sizing: border-box;
}

hr{
    color: var(--white);
    height: 3px;
}

.h3-heading{
    color: rgba(14, 221, 152, 0.79);
}

p{
    color: var(--grey);
    font-family: $secondary-font;
    font-size: 1em;
    font-family: $p-font;
}

/*FÖR NAVIGERINGSBAREN*/
nav{
    font-family: 'Fira Code', monospace;
}

.logo{
    max-width: 160px;
}

.navbar-toggler{
    background-color: var(--primary) !important;
    color: var(--white);
    border: 1px solid var(--white);
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-toggler:active{
    border: 2px solid var(--secondary) !important;
    color: var(--secondary) !important;
}

.navbar-toggler:hover{
     border: 1.5px solid var(--white);
}


.nav-link{
    color: var(--white);
}


.navbar-toggler:hover .menu-toggler,
.nav-link:hover, 
.active:hover,
.show:hover{
    color: var(--hover) !important;
    transition: 0.3s ease-in-out;
}

.active{
    color: var(--secondary) !important;
    transition: ease-in-out 0.3s;
}

.show{
    color: var(--hover) !important;
}

/*FOR THE LITTLE DROP DOWN IN DROP DOWN*/
.dropdown-menu{
    background-color: var(--transparent);
    justify-content: center;
    text-align: center;
}

.dropdown-item{
    color: var(--white);

}

.dropdown-item:hover{
    background-color: var(--transparent);
    color: var(--hover);
    transition: 0.3s ease-in-out;
}

/*SOCIAL MEDIA CONTAINER*/
.bi-chat-right-text{
    color: var(--secondary);
}

.fa-brands {
  text-decoration: none;
  background: var(--icons);
  -webkit-background-clip: text; /* For gradient text effect */
  -webkit-text-fill-color: transparent; /* Makes the gradient visible */
  background-clip: text;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: inline-block;
  font-family: "Font Awesome 6 Brands" !important;
}

.dark-mode-btn {
  background: var(--icons);
  color: var(--icons);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: 0;
  cursor: pointer;
}

.dark-mode-btn:hover, .fa-brands:hover {
transition: 0.3s ease-in-out;
filter: brightness(1.5);
// color: var(--icon-hover);
//   background: var(--icons);
//   color: var(--icons);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   background-clip: text;
}

// .dark-mode-btn:hover {
//     // color: var(--hover) !important;
//   filter: brightness(1.8); /* Slight brightness increase for hover effect */
// }
    /* Step 1: Common Properties
  These styles are required to make icons render reliably */
.fa-brands:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.social-list{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.list-group-item{
    background: var(--transparent);
    font-size: 30px;
}

.list-group-item:hover .fa-brands{
    color: var(--hover);
    transition: 0.3s ease-in-out;
}


/***********************
*******HOME PAGE********
***********************
***********************/
//front-side text
.hero{
    margin-top: 5rem;
}

.name{
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.frontend{
    color: var(--grey);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}


.subtext{
    color: var(--secondary);
    margin: auto 1rem auto 1rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
}

/*FRONT PAGE LINK CONTAINER*/
.front-link{
    border-radius: 7px;
    padding: 1rem;
    box-shadow: rgba(63, 3, 101, 0.174) 0px 3px 8px;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    margin: auto;
    max-width: 15rem;
    background-color: var(--transparent);
    border: 1px solid var(--secondary);
}

.front-link:hover{
    background-color: var(--secondary-hover);
    transition: 0.3s ease-in-out;
}

.link-container{
    margin-top: 10rem;
}

.link{
    color: var(--secondary);
    font-size: 14px;
    padding: 1rem 1.7rem;
}


/*************
****FOOTER****
**************/
footer .fa-brands,
footer .footer-heading{
    -webkit-text-fill-color: var(--grey);
    font-size: 20px;
}

footer{
    margin-top: 12rem !important;
}

.copy{
    font-family: 'Fira Code', monospace;
    color: var(--grey);
    font-size: 10px;
}

/**************
CONTACT PAGE*****
***************/
.contact-info{
    color: var(--grey) !important;
    text-decoration: none !important;
}


/**************
ABOUT PAGE*****
***************/

.article{
    margin-bottom: 3rem;
    background-color: var(--block);
    background: var(--block);
}

.hero-text{
    margin-right: 5rem;
}

/*******************************************
********BILD OCH BORDER, SAMT HOVER*********
********************************************/
/* Preload the hover image */
.img-container::before {
    content: '';
    background: url('https://github.com/sararuda100/portfolio/blob/main/docs/images/IMG_5408.JPG?raw=true') no-repeat;
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
    z-index: -1;
}

.img-container {
    display: inline-block;
    width: 75%;
    position: relative; /* Set the container to be a positioning context */
    margin-top: 4rem;
}

.big-about-img {
    display: block;
    background-image: url('https://raw.githubusercontent.com/sararuda100/portfolio/main/docs/images/IMG_5407.JPG');
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 99.25%; /* 16:9 aspect ratio */
    border-radius: 7px;
    transition: background-image 0.2s ease-in-out;
    position: relative; /* Set to relative to position the .image-wrapper */
}

.img-container:hover .big-about-img {
    background-image: url('https://github.com/sararuda100/portfolio/blob/main/docs/images/IMG_5408.JPG?raw=true');
}

.image-wrapper {
    position: absolute;
    top: 25px; 
    left: 25px; 
    right: -25px;
    bottom: -25px;
    border: 2px solid rgb(14, 221, 152);
    border-radius: 7px;
    pointer-events: none; /* Ensures the wrapper doesn't interfere with mouse events */
    transition: border 0.3s ease-in-out;
    z-index: -1;
}

.img-container:hover .image-wrapper{
    top: 20px; 
    left: 20px; 
    right: -20px;
    bottom: -20px;
}

/*******PART DESIGNER PART CODER LIST ITEMS
*******************************************/

.designer{
    margin-bottom: 4rem;

    .list-unstyled{
        .list-item{
            color: var(--grey);
        }
    }
}

.coder{
    margin-bottom: 4rem;

    .list-unstyled{
        .list-item{
            color: var(--grey);
        }
    }
}

/***********************
**********SAY HELLO*****
************************/

.contact-button{
    background-color: var(--transparent);
    margin-top: 6rem;
    border: 1.5px dotted var(--secondary);
    border-radius: 40px;
    color: var(--secondary);
    padding: 0.5rem 1rem;
    font-family: 'Oxygen Mono', monospace;
}

.contact-button:hover{
    background-color: var(--secondary-hover);
    transition: 0.4s ease-in-out;
}

.contact-list .fa-brands{
    color: var(--grey) !important;
    font-size: 24px;
}

.contact-list .fa-brands:hover{
    color: var(--hover) !important;
}

.sub-heading{
    font-size: 24px;
    color: var(--light-grey);
    margin-top: 1rem;
}

/**
*
* FOR RANDOM FACTS
*
*****/

.random-fact-list{
    color: var(--grey);
}

// .random-facts {
//   opacity: 0.3; /* Initial state: less visible */
//   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
// }
.random-facts {
  opacity: 0.3;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.random-facts.hover-3 {
  opacity: 1;
  transform: translateY(0);
}

//src: https://css-tricks.com/css-hover-effects-background-masks-3d/
.hover-2 {
  --c: var(--cube-color); /* Use custom property */
  --b: var(--border-length);
  --d: var(--cube-depth);

  --_s: calc(var(--d) + var(--b));

  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(
      at left var(--d) bottom var(--d),
      #0000 90deg,
      var(--hover-color-light) 0,
      225deg,
      var(--hover-color-dark) 0
    )
    border-box,
    conic-gradient(
      at left var(--_s) bottom var(--_s),
      #0000 90deg,
      var(--c) 0
    )
    0 100% / calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  opacity: 0.3;
  transition: 0.5s;
}


.hover-3 {
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );

   opacity: 1;
}

.opac{
    opacity: 0.3;
}

/***********************
********** PROJECTSS *****
************************/


// .project-margin{
//     margin-bottom: 1rem !important;
// }

// .section{
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));  
//   gap: 1rem;
// }

// .card-link {
//     height: auto;
//     width: 300px;
//     text-decoration: none;
//     position: relative; /* Needed for absolute positioning of overlay and text */
//     overflow: hidden; /* Prevents child elements from overflowing */
//     margin-bottom: 1rem;
// }

// .card-overlay {
//     background-color: var(--card-overlay);
//     z-index: 4;
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0;
//     transition: opacity 0.3s ease-in-out;
// }

// .card {
//     background-color: var(--transparent);
//     position: relative; /* Needed for z-index to work properly */

// }

// .card:hover .card-overlay {
//     opacity: 0.8;
//     cursor: pointer;
//     transform: scale(1.1);
// }

// .card:hover img {
//    transform: scale(1.1);
//    transition: 0.2s ease-in;
// }

// .kort-titel {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 5;
//     display: none;
//     color: white;
//     font-family: 'Fira Code', monospace;
// }

// .card:hover .kort-titel {
//     display: flex !important;
//     display: block;
//     cursor: pointer;
// }

// // .dark-mode{
// //     background-color: $transparant !important;
// // }

// .singleView{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: var(--single-view-background); /* Dark overlay */
//     z-index: 9999; /* Place it above everything else */
//     // display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow-y: auto;
//     // text-align: center;
// }

// .close-button{
//     background-color: var(--transparent);
//     margin-top: 2rem;
//     border: 1.5px dotted var(--secondary);
//     border-radius: 40px;
//     color: var(--secondary);
//     padding: 0.5rem 1rem;
//     font-family: 'Oxygen Mono', monospace;
// }

// .close-button:hover{
//     background-color: var(--secondary-hover);
//     transition: 0.4s ease-in-out;
// }

// .project-details-content{
//     width: 75% !important;
//     background-color: white;
//     padding: 1rem;
//     border-radius: 20px;
// }

// // .project-details-image{
// //     width: 75%;
// //     height: auto;
// // }

// .project-details-image{
//         width: 90%;
//         margin-bottom: 1rem;
//         margin-top: 1rem;
//     }

//     .description-element{
//         width: 90%;
//         text-align: center;
//     }
/*
CARDS TEST*/
:root {
  --surface-color: #fff;
  --curve: 40;
}

// .cards {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(2, 1fr));  
//   flex-wrap: wrap;
//   gap: 1rem;
//   padding: 0;
//   list-style-type: none;
//   display: flex;
//   justify-content: center;
// }

// .card {
//   position: relative;
//   display: block;
//   border-radius: calc(var(--curve) * 1px);
//   overflow: hidden;
//   text-decoration: none;
//   width: 100%;
//   min-width: 320px;
//   height: auto;
// }

/*Project filtering buttons*/
/*FRONT PAGE LINK CONTAINER*/
.filter-button{
    border-radius: 7px;
    padding: 1rem;
    box-shadow: rgba(63, 3, 101, 0.174) 0px 3px 8px;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    margin: auto;
    max-width: 15rem;
    background-color: var(--transparent);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.filter-button:hover{
    background-color: var(--secondary-hover);
    transition: 0.3s ease-in-out;
}

/**
PROJECT GALLERY
*/

.cards {
  display: grid;
  grid-template-columns: 1fr; /* Default: en kolumn */
  gap: 1rem; /* Avstånd mellan korten */
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  width: 100%; /* Tar upp hela bredden av kolumnen */
  min-width: 320px;
  height: auto;
  aspect-ratio: 12 / 9; /* Bredd/höjd-förhållande */
}

.card__image {      
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em 2em  1em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* Adjust icon size */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a043ecd8; /* Optional background */
  color: #ffffff; /* Icon color */
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
font-family: 'Fira Code', monospace;
}

.card__date {
  font-size: .8em;
  color: #D7BDCA;
  margin-bottom: 0;
}

.card__lang, .card-type {
    padding: 0 1.9rem;
    font-size: .8em;
    color: rgb(59, 56, 56);
    font-weight: 700;
    font-family: 'Fira Code', monospace;
}

.card__type, .project-link {
     font-size: .8em;
    color: rgb(59, 56, 56);
    font-weight: 700;
    padding:  0 2rem 0;
}

.card__description {
  padding: 0 2rem 1.5rem;
  margin: 0;
  color: #D7BDCA;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 0.85em;
}  

.project-link i{
    margin-left: 0.5rem;
}

.filter-button {
    border-radius: 7px;
    padding: 0.5rem 1rem;
    box-shadow: rgba(63, 3, 101, 0.174) 0px 3px 8px;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    margin: auto;
    max-width: 15rem;
    background-color: var(--transparent);
    border: 1px solid var(--secondary);
}

/* PROJECT MODAL POP-UP*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal p {
     font-family: 'Oxygen Mono', monospace;
    padding: 0.5rem;
}

.modal h2{
    padding-top: 1.1rem;
}

.modal-content {
  background: #fff;
  padding: 2.5rem;
  border-radius: 30px;
  width: 100%;
  max-width: 70rem;
  max-height: 80%;
  overflow-y: auto;
  /* text-align: center; */
  position: relative;
  margin: 5rem auto;

}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-image {
  margin: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
  height: auto;
//   aspect-ratio: 12 / 9; /* Bredd/höjd-förhållande */
}

.modal-link {
   border-radius: 7px;
    padding: 1rem;
    box-shadow: rgba(63, 3, 101, 0.174) 0px 3px 8px;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    margin: auto;
    max-width: 16rem;
    background-color: var(--transparent);
    border: 1px solid var(--secondary);
}

.modal-link:hover {
    background-color: var(--secondary-hover);
    transition: 0.3s ease-in-out;
}


.modal-description {
    text-align: left;
}

.modal-link i {
    padding: 0 0.5rem;
}
/*******
*
*   MEDIA QUERIES
*
*
******/

@media (min-width: 576px){
    .name{
        font-size: 4rem;
    }

    .frontend{
        font-size: 2rem;
    }

    .subtext{
    font-size: 1.2rem;
    }

    .front-link{
        margin: 1rem;
    }

    .link{
        padding: 1.5rem 2rem;
    }

    .contact-list .social-list{
        margin-top: -0.5rem;
    }

    .section{
        padding: 1.5rem;
        max-width: 900px;
        margin: auto;
        margin-bottom: 4rem;
    }

    .img-container{
        margin-top: 6rem;
    }

    // .card img{
    //     height: auto;
    //     width: 100%;
    //     object-fit: cover !important;
    // }

    .close-button {
        margin-top: 1rem;
    } 

    .project-details-content {
        width: 80%;
    }

    .description-element{
        width: 90%;
        text-align: left !important;
    }
}


@media (min-width: 768px){
    .link{
        padding: 1.5rem 3rem;
    }
    .article{
        max-width: 900px;
        margin-top: 4rem;
        margin-bottom: 10rem !important;
    }

    .project-margin{
        margin-bottom: 0rem !important;
    }

    .cards {
        max-width: 900px;
        margin-top: 4rem;
        margin-bottom: 10rem !important;
        margin: auto;
    }
    
}

@media (min-width: 992px){
    .header-container{
        max-width: 900px;
    }

     .name{
        font-size: 6rem;
    }

    .hero{
        margin-top: 10rem;
        max-width: 900px;
    }
    .img-container{
        margin-top: 8rem;
    }
    
    .project-details-image {
        width: 70%;
    }

    .description-element{
        width: 70%;
        text-align: left !important;
    }
}

/*NEW ANIMATION*/
.random-facts{
 display: flex;
 justify-content: space-around;
 border: 1px solid rgb(39, 37, 37);
 
 margin: 10px;
}

.img-animation {
    margin-top: 50px;
    width: 200px;
    height: 150px;
    //   background-color: rgb(95, 250, 162);
    background: url('../../images/about_sam.png');
    background-position: cover;
    background-size: cover;
    border-radius: 50% 50% 50% 50%;
    // z-index: 1000;
    // position: absolute;
    animation: squareToCircle 6s 1s infinite alternate;
}

.random-fact-list:hover{
    animation: none;
}

.spin {
  animation-name: spin;
  animation-duration: 0.6s;
  animation-iteration-count: 1; /* Play animation only once */
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes squareToCircle {
    0% {
      border-radius: 50% 50% 50% 50%;
      background: url('../../images/about_sam.png');
      background-position: cover;
background-size: cover;
      transform: rotate(0deg);
    }
    25% {
      border-radius: 70% 70% 30% 60%;
      background: url('../../images/IMG_running.jpg');
      background-position: cover;
background-size: cover;
      transform: rotate(20deg);
    }
    50% {
      border-radius: 40% 50% 20% 70%;
      background: url('../../images/IMG-bread-sour.jpeg');
      background-position: cover;
      background-size: cover;
      transform: rotate(30deg);
    }
    75% {
      border-radius: 50% 50% 50% 40%;
    background: url('../../images/IMG_5421.JPG');
      background-position: cover;
    background-size: cover;
      transform: rotate(15deg);
    }
    100% {
      border-radius: 30% 45% 50% 75%;
      background: url('../../images/about_sam.png');
      background-position: cover;
      background-size: cover;
      transform: rotate(-10deg);
    //   width: 150px;
    }
}

/** STORY**/
.story{
    display: flex;

}

/* För skärmar som är minst 600px breda: två kolumner */
@media (min-width: 600px) {
.cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dynamiskt antal kolumner */
  }
}

