header {
  z-index: 4; /*to make it appear above everything else*/
  width: 100vw;
}

.navbar {
  transition: top 0.3s ease-in-out;
  background-color: var(--color-black);
  padding: 0.75rem;
}

.logo {
    max-width: 6rem;
  }

.navbar-nav .custom-link.nav-link.active-link {
  color: var(--color-secondary);
  transition: 0.4s ease-in-out;
}
